---
layout: default
home: true
---
<div class=" animate__animated animate__fadeIn animate__slow">
  <!-- <h4 class="posts-item-note">Recent Posts</h4>
  {% for post in site.posts limit:2 %}
  <article class="post-item">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <h4 class="post-item-title">
      <a href="{{ post.url }}">{{ post.title | escape }}</a>
    </h4>
  </article>
  {% endfor %}
  <hr />
  <p class="archive-btn">
  <a href="/articles/">
    All posts
  </a>
</p> -->

  <div class="skill-bars">
    <div class="bar">
      <div class="info">
        <span>Vanilla JS</span>
      </div>
      <div class="progress-line javascript">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Node.js</span>
      </div>
      <div class="progress-line nodejs">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Angular 2+</span>
      </div>
      <div class="progress-line angular2">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>React JS</span>
      </div>
      <div class="progress-line react">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>React Native</span>
      </div>
      <div class="progress-line mysql">
        <span></span>
      </div>
    </div>
  </div>
</div>

<section class="service-wrp">
  <h1 class="archive-btn">Services</h1>
  <div class="service-wrp-inner">

    <div class="service-card bg-dark">
      <div class="d-flex">
        <!-- <div class="icon">
					<img src="images/01.svg">
				</div> -->
        <div class="heading">
          <h5>API Development</h5>
        </div>
      </div>
      <div class="info">
        <p>API development using node.js & SQL/NoSQL.</p>
        <!-- <a href="" class="info-link">Read More</a> -->
      </div>
    </div>
    <!--service-card-->

    <div class="service-card bg-dark">
      <div class="d-flex">
        <!-- <div class="icon">
					<img src="images/02.svg">
				</div> -->
        <div class="heading">
          <h5>Web Development</h5>
        </div>
      </div>
      <div class="info">
        <p>SPA & SSR using Angular version 2+ or React.js.</p>
        <!-- <a href="" class="info-link">Read More</a> -->
      </div>
    </div>
    <!--service-card-->

    <div class="service-card bg-dark">
      <div class="d-flex">
        <!-- <div class="icon">
					<img src="images/03.svg">
				</div> -->
        <div class="heading">
          <h5>App Development</h5>
        </div>
      </div>
      <div class="info">
        <p>Hybrid applications using React native.</p>
        <!-- <a href="" class="info-link">Read More</a> -->
      </div>
    </div>
    <!--service-card-->

  </div>
</section>

<div class="contact-section">
  <div class="background">
    <div class="container">
      <h1 class="archive-btn">Let's build together</h1>
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>Download</span>
              <span>
                <a style="text-decoration: none;" href="./../assets/documents/resume.pdf" target="_blank">RESUME</a>
              </span>
              <!-- <span>CONTACT</span>
              <span>US</span> -->
            </div>
            <!-- <div class="app-contact">
              <div>
                MOBILE : <a href="tel:+919674951345">+91 96749-51345</a></div>
              EMAIL : <a href="mailto:arkomandal.contact@gmail.com">arkomandal.contact@gmail.com</a>
            </div> -->
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <form action="https://formspree.io/f/xeqpbnlw" method="post" id="contact_form">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL" name="email">
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" placeholder="MESSAGE" name="message">
                </div>
                <div class="app-form-group buttons">
                  <!-- <button class="app-form-button">CANCEL</button> -->
                  <button class="app-form-button" onclick="$('#contact_form').trigger('reset')">SEND</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>